body{
    background-color: rgb(76, 175, 241);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    background-image: url("images/background.png");
    background-size: cover;
    }
    .navigation{
        height:70px;
        position: relative; 
        top: -16px;
    }
    .navigation .list{
        position: relative;
        display: flex;
        text-transform: uppercase;
    }
    .navigation ul{
        display: flex;
        background-color: rgba(17, 10, 10, 0.356)
    }
    .navigation ul li{
        margin-left: 20px;
    }
    
    .navigation ul li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        width: 150px;
        height: 30px;
        text-align: center;
        padding-top: 10px;
        border-width: 1px;
    }
    
    .navigation ul li a:hover{
        background-color: rgb(29, 23, 124);
        color: white;
    }
    .main{
        margin-left: 20px;
    }
   .oznam1{
       background-color: rgba(44, 48, 51, 0.295);
       width: 800px;
       height: 50px;
   }
   .oznam2{
    background-color: rgba(44, 48, 51, 0.295);
    width: 800px;
    height: 50px;
    margin-top: 20px;
}
.oznam3{
    background-color: rgba(44, 48, 51, 0.295);
    width: 800px;
    height: 50px;
    margin-top: 20px;
}